@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li a{
    display: inline-block;
    color: #333333;
    font-weight: 400;
    margin-left: 40px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text{
    position: relative;
    max-width: 700px;
}

.content .text h2{
    color: #333333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .text h2 span{
    color: #025f38;
    font-size: 1.2em;
    font-weight: 900;
}

.content .text p{
    color: #333333 ;
}

.content .text a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.content .img{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    margin-top: 70px;
}

.content .img img{
    max-width: 400px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: all .5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 80px;
}

.sci{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(.7);
    filter: invert(1);
}

.circle1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 700px);
}

.circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(250px at left top);
}
